:root {
  --color-primary-dark: #011846;
  --color-primary: #0050ef;
  --color-primary-light: #0050ef0f;
  --color-accent: #10b2d0;
  --color-main: #f6f9ff;
  --color-black-600: #000000;
  --color-black-60: #000000a6;
  --color-gray: #888888;
  --color-white: #ffffff;
  --color-white-semi: #ffffff80;
}
