@import "./shared/styles/colors.css";

#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.app__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

main {
  margin-top: 120px;
  padding-top: 20px;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
