@import "./shared/styles/colors.css";

:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: var(--color-primary);
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  background: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
